@use "./variables" as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $ff-poppins;
    background-color: $color-snow;
}

main {
    flex-grow: 1;
    padding: 423px 0 0;
}

.header--short + main {
    padding-top: 251px; 
}

img {
    display: block;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}