//COLORS
$color-white: #FFFFFF;
$color-white-60: rgba(255, 255, 255, 0.6);
$color-black-70: rgba(0, 0, 0, 0.7);
$color-black-85: rgba(0, 0, 0, 0.85);
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black: rgb(0, 0, 0);
$color-nero: #262626;
$color-orange: #FFA902;
$color-snow: #F9F9F9;
$color-orange-peel: #F3A100;
$color-gainsboro: #D9D9D9;
$color-radical-red: #FF4D4F;
$color-silver: #BDBDBD;
$color-nobel: #979797;

//FONTS
$ff-poppins: "Poppins", sans-serif;
$ff-montserrat: "Montserrat", sans-serif;

//VIEWPORTS
$vp-tablet: 1023px;
$vp-mobile: 767px;

$transition-300: 0.3s ease-in;