//COLORS
$color-white: #FFFFFF;
$color-white-60: rgba(255, 255, 255, 0.6);
$color-black-70: rgba(0, 0, 0, 0.7);
$color-nero: #262626;
$color-orange: #FFA902;

//FONTS
$ff-poppins: "Poppins", sans-serif;
$ff-montserrat: "Montserrat", sans-serif;

//VIEWPORTS
$vp-tablet: 1023px;
$vp-mobile: 767px;

$transition-300: 0.3s ease-in;