@use "../global/variables" as *;

.auth {
    width: 100%;
    min-height: 739px;
    background-color: $color-white;
    padding: 28px 238px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: $color-nero;
        white-space: nowrap;
    }

    &__error {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 85px;
        color: $color-radical-red;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    &__fields {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 62px 62px;
        gap: 30px 20px;
    }

    &__field {
        width: 100%;
        

        &:first-child {
            grid-column: span 2;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}