@use "../global/variables" as *;

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &__title {
        margin: 0;
        color: $color-nero;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
    }

    &__fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    &__upload-wrapper {
        display: flex;
        width: 200px;
    }

    &__upload {
        position: relative;
        width: 100%;
        background-color: transparent;
        border: 1px solid $color-gainsboro;
        font-family: $ff-poppins;
        padding: 5px 16px 5px 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;

        & svg {
            position: absolute;
            top: 9px;
            left: 16px;
        }

        &:hover, &:focus-visible {
            border: 1px solid $color-black-25;
        }
    }

    &__upload-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $color-black-85;
    }

    &__small-fields {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}