@use "../global/variables" as *;

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &__title {
        margin: 0;
        color: $color-nero;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
    }

    &__fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    &__small-fields {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}