@use "../global/variables" as *;

.header {
    width: 100%;
    // position: relative;
    $root: &;
    position: fixed;
    z-index: 100;

    &::before {
        background-image: url(/img/hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: brightness(0.3);
        z-index: -1;
    }

    @media (min-resolution: 2dppx) {
        &::before {
            background-image: url(/img/hero@2x.png);
        }
    }

    &__wrapper {
        padding: 29px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 108px;
    }

    &__block-upper, &__block-lower {
        display: flex;
        width: 100%;
    }

    &__block-upper {
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-white-60;
    }
    
    &__block-left {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    &__block-right {
        display: flex;
        align-items: center;
    }
    
    &__login {
        cursor: pointer;
        font-family: $ff-poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 183.3%;
        display: flex;
        align-items: center;
        color: $color-white;
        background-color: transparent;
        padding: 0;
        border: none;
        transition: color $transition-300;

        &:hover, &:focus-visible {
            color: $color-orange;
        }
    }
    
    &__icon {
        width: 41px;
        height: 30px;
    }
    
    &__name {
        font-family: $ff-montserrat;
        font-weight: 500;
        font-size: 33px;
        line-height: 41px;
        letter-spacing: 0.145em;
        color: $color-white;
    }

    &__block-lower {
        justify-content: center;
        margin-bottom: 113px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        text-transform: uppercase;
        color: $color-white;
        text-align: center;
        margin: 0;
        white-space: nowrap;
    }
}