@use "../global/variables" as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-85;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        border-radius: 20px;
        width: 695px;
        min-height: 200px;
        padding: 40px;
        box-shadow: 0 10px 30px $color-black-25;
    }

    &__text {
        color: $color-nero;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: 0;
        padding: 0 40px;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: transparent;
        border: none;
        padding: 8px;
        cursor: pointer;
        
        &:hover {
            opacity: 0.7;
        }
    }
}