@use "../global/variables" as *;


.post {
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 5px 15px $color-black-25;
    $root: &;

    &--xl {
        #{$root}__img {
            height: 450px;
        }

        #{$root}__info {
            padding: 30px 102px 119px;
            gap: 30px;
        }
        #{$root}__upper {
            gap: 15px;
            margin-bottom: 20px;
        }
        #{$root}__title {
            font-size: 36px;
            line-height: 54px;
        }
        #{$root}__text {
            font-size: 16px;
            line-height: 24px;
        }
        #{$root}__reviews {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
        #{$root}__reviews-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #{$root}__reviews-name {
            width: 100%;
            display: flex;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $color-black;
        }
        #{$root}__reviews-date {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 5px;
            color: $color-grey;
        }
        #{$root}__reviews-comment {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-black;
            text-align: left;
        }
        #{$root}__lower {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }
    

    &__img {
        width: 100%;
        height: 288px;
        border-radius: 10px 10px 0 0;
    }

    &__info {
        flex: 1;
        padding: 26px 25px;
        display: flex;
        flex-direction: column;
        gap: 38px;
        justify-content: space-between;
    }

    &__upper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    &__title {
        margin: 0;
        color: $color-nero;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    &__text {
        margin: 0;
        color: $color-grey;
        font-weight: 400;
        font-size: 15px;
        line-height: 183.3%;
    }

    &__reviews {
        display: none;
    }

    &__lower {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }

    &__place {
        font-weight: 500;
        font-size: 14px;
        line-height: 183.3%;
        color: $color-nero;
    }

    &__link {
        font-family: $ff-poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 183.3%;
        text-decoration-line: underline;
        color: $color-orange;
        transition: color $transition-300;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:focus-visible {
            color: $color-orange-peel;
        }
    }
}