@use "../global/variables" as *;


.post {
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 5px 15px $color-black-25;
    

    &__img {
        width: 100%;
        height: 288px;
        border-radius: 10px 10px 0 0;
    }

    &__info {
        flex: 1;
        padding: 26px 25px;
        display: flex;
        flex-direction: column;
        gap: 38px;
        justify-content: space-between;
    }

    &__upper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    &__title {
        margin: 0;
        color: $color-nero;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    &__text {
        margin: 0;
        color: $color-grey;
        font-weight: 400;
        font-size: 15px;
        line-height: 183.3%;
    }

    &__lower {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }

    &__place {
        font-weight: 500;
        font-size: 14px;
        line-height: 183.3%;
        color: $color-nero;
    }

    &__link {
        font-family: $ff-poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 183.3%;
        text-decoration-line: underline;
        color: $color-orange;
        transition: color $transition-300;

        &:hover, &:focus-visible {
            color: $color-orange-peel;
        }
    }
}