@use "../global/variables" as *;


.posts {
    padding: 60px 0;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        
    }

    &__error {
        color: $color-radical-red;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        display: flex;
        width: calc(100% / 3 - 20px);
        transform: translate(0, 0);
        transition: transform $transition-300;
        cursor: pointer;

        &:hover, &:focus-visible {
            transform: translate(1px, 1px);
        }
    }
}