@use "../global/variables" as *;

.profile {
    padding: 16px 0;
    margin-bottom: auto;
    $root: &;

    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        gap: 30px;
    }

    &__img-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: flex-start;
    }

    &__img {
        width: 240px;
        height: 240px;
        border-radius: 10px;
    }

    &__edit-img {
        display: flex;
        gap: 6px;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
        transition: color $transition-300;

        & svg {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            color: $color-orange;
            transition: color $transition-300;
        }

        &:hover, &:focus-visible {
            #{$root}__edit-text, & svg {
                color: $color-orange-peel;
            }
        }
    }

    &__edit-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-orange;
        text-decoration: underline;
        transition: color $transition-300;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    &__name {
        margin: 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: $color-nero;
    }

    &__info-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    &__info-heading {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $color-black-85;
    }

    &__info-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $color-black;
        margin: 0;
    }

    &__edit-btn {
        position: absolute;
        top: 13px;
        right: 0;
        background-color: transparent;
        padding: 0;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;

        & svg {
            width: 32px;
            height: 32px;
            color: $color-silver;
            transition: color $transition-300;
        }

        &:hover, &:focus-visible {
            & svg {
                color: $color-nobel;
            }
        }
    }
}