@use "../global/variables" as *;

.textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__field {
    width: 100%;
    border: 1px solid $color-gainsboro;
    padding: 5px 20px 5px 12px;
    font-family: $ff-poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-nero;
    outline: none;
    height: 137px;
    resize: none;
    border-radius: 2px;
    transition: border $transition-300;

    &:hover, &:focus-visible {
        border: 1px solid $color-silver;
    }

    &::placeholder {
      font-family: $ff-poppins;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $color-black-25;
    }
  }

  &__letters {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        color: $color-black-25;
  }
}
