//GLOBAL

@use "./global/variables";
@use "./global/mixins";
@use "./global/reboot";
@use "./global/container";
@use "./global/visually-hidden";


//BLOCKS
@use "./blocks/header";
@use "./blocks/dropdown";
@use "./blocks/login";
@use "./blocks/btn";
@use "./blocks//custom-input";
@use "./blocks/auth";