//GLOBAL

@use "./global/variables";
@use "./global/mixins";
@use "./global/reboot";
@use "./global/container";
@use "./global/visually-hidden";


//BLOCKS
@use "./blocks/auth";
@use "./blocks/header";
@use "./blocks/dropdown";